
#tdr{
  text-align: center;
}

.fundo {
  background-color: #083a69;
}
 
#img2-segurança {

    width: 100%;
    text-align: center;
    background-position: center
}

   
.absoluto {
  top: 10%;
  position: absolute;
  left: 0%;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
 
 
* {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }

h2 {
  margin: 50px;
  font-size: 24px;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.box {
  width: 400px;
  height: 600px;
  background-color: #1c2b3b;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(37, 34, 34, 0.5);
}

input[type='number'] {
  border: none;
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: #212125;
  color: #fff;
  margin-top: 10px;
}

input[type='button'] {
  border: none;
  width: 120px;
  height: 35px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #34526f;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.25s ease;
}

input[type='button']:hover {
  letter-spacing: 0.5px;
  background: #c1d8ee;
  color: #212125;
}

 /* button de cadastro.html */

 /*----------------------------------------------------------------*/
 /*----------------------------------------------------------------*/

 
.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(233, 21, 21);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.cordfundo {
  color: #34526f;
}
